<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.controlremoto">

    <uses-permission
            android:name="android.permission.INTERNET"/> <!-- se agrega esta linea para habilitar los permisos de internet y poder realizar peticiones http -->

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true"> <!-- Agregar esta ultima linea para habilitar peticiones en Android 9.0 Pie -->

        <activity
                android:name=".SplashScreen"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar"> <!--- Se agrego esta linea para ocultar el action bar y tener un activity Full Screen-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".Main3Activity"
                android:label="Modo basico">
        </activity>

        <activity
                android:name=".Main2Activity"
                android:label="Modo avanzado">
        </activity>

        <activity
                android:name=".MainActivity"
                android:theme="@style/IntroThemeNoActionBar">
        </activity>



    </application>

</manifest>